body{
  font-family:Arial;
  color: #111;
} 

h1{
  text-align: center;
}

h2{
  color: #ffffff;
  margin: 0px;
}

div{
  margin-top: 10px;
  margin-bottom: 20px;
}

span{
  color: #febe01
}

.box{
  background-color: #111;
  color: #b2b2b2;
  padding: 15px;
  border-radius: 4px;
  margin: 15px;
  }

button{
  background-color:#febe01;
  color: #332200 ;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 05px;
  margin-left: 0px;
}

.botao{
  text-decoration: none;
  color: #111;
}